<div class="header">
        <div class="logo">
            <a href="http://localhost:3000"><img src="/assets/images/isabella.png" alt="" /></a>
        </div>
        <div class="search-form">
            <form action="/" method="get">
                <input type="text" placeholder="Search" name="search" />
            </form>
        </div>
    </div>