<html>

<head>
    <title>Home</title>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="jumbotron home-data">
                <h1>Hello Users!</h1>
                <p>This is a fashion Website where you can learn about the latest trends in handbags, clutches, fragrances, dresses and much more.</p>
                <p>We are in direct contact with top brands like <em><strong>Gucci, Armani, Prada, Chanel, Carolina Herrera</strong></em> and many more.</p>
                <p>Just <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-phone-alt"></span></button> with your requirement and we will provide you the best options available in town</p>
                <div class="home-btn">
                    <a class="btn btn-primary btn-lg" href="javascript:void(0)" role="button"  data-toggle="modal" data-target="#loginModal">Join Us To Know More</a>
                </div>
            </div>
        </div>
    </div>
</body>
    <% include ../partials/footer %>
    <% include ../partials/homeModal %>
</html>
